<html>

    <head>
        <title>Hello</title>
    </head>

    <body style="margin-left: auto;margin-right: auto;text-align: center;">
        <h1>hello world</h1>

        <table style="margin-left: auto;margin-right: auto;text-align: center;background-color: aqua;">
            <tr>
                <td style="background-color:brown;">hello</td>
                <td style="background-color:brown;">world</td>
            </tr>
            <tr>
                <td>hello</td>
                <td>world</td>
            </tr>
            <tr>
                <td>hello</td>
                <td>world</td>
            </tr>
        </table>

    </body>

</html>