
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello</title>

	<style>
		body {
			display: grid;
			place-items: center;
			height: 95vh;
			width: 95vw;
			background: #1a2b3c;
		}
		.square {
			padding: 20px;
			border-radius: 25px;
			height: 450px;
			width: 580px;
			background-color: #7a8924;
		}

		.center {
			display: grid;
			place-items: center;
		}

		.inner {
			padding: 5px;
			border-radius: 5px;
			background-color: #7a0024;
			color: #fff;
		}

	</style>

</head>
<body>

	<div class="square">		
		<form action="{% url 'convert' %}" method="post" class="center">
			<h1>CURRENCY CONVERTER APP</h1>
			{% csrf_token %}
			<div class="inner">
				<label>Amount {{myForm.amount}}</label>
			</div><br>
			<div class="inner">
				<label>Current Currency {{myForm.my_currency}}</label>
			</div><br>
			<div class="inner">
				<label>Convert to {{myForm.to_currency}}</label>
			</div><br>
			<div class="inner">
				<label for="newvalue">Converted Amount</label>
				<input type="text" id="newvalue" name="newvalue" value={{converted_amount}} readonly>
			</div><br>
			<button type="submit" class="inner">Convert</button>
		</form>
	</div>


</body>
</html>